body {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
  font-family: 'Geomanist'; }
  body * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

a {
  text-decoration: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  color: inherit; }

ul {
  list-style: none; }

img {
  max-width: 100%; }

button {
  cursor: pointer; }

label {
  cursor: pointer; }

section {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

select, input, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: transparent; }

.content-wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.page-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
      -ms-flex: 1 1;
          flex: 1 1; }

.footer-wrapper {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1;
      -ms-flex: 0 1;
          flex: 0 1; }

.box {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.row {
  min-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px; }

.home {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(36, 35, 51, 0.2)), to(rgba(60, 59, 83, 0.2))), url("../img/bg.png");
  background-image: -webkit-linear-gradient(left, rgba(36, 35, 51, 0.2) 0%, rgba(60, 59, 83, 0.2) 100%), url("../img/bg.png");
  background-image: -o-linear-gradient(left, rgba(36, 35, 51, 0.2) 0%, rgba(60, 59, 83, 0.2) 100%), url("../img/bg.png");
  background-image: linear-gradient(to right, rgba(36, 35, 51, 0.2) 0%, rgba(60, 59, 83, 0.2) 100%), url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: top;
  -webkit-background-size: contain;
          background-size: contain;
  -webkit-box-shadow: 0 16px 65px rgba(36, 35, 51, 0.48);
          box-shadow: 0 16px 65px rgba(36, 35, 51, 0.48);
  background-color: #242333; }
  .home-link {
    margin-bottom: 30px; }
    .home-link img {
      margin-right: 15px; }
    .home-link a {
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.72px; }
      .home-link a:hover {
        text-decoration: none;
        color: #ffffff; }
  .home-slick-box {
    margin-bottom: 20px;
    padding: 25px;
    background-color: #242333;
    -webkit-box-shadow: 0 22px 40px rgba(36, 35, 51, 0.45);
            box-shadow: 0 22px 40px rgba(36, 35, 51, 0.45);
    -webkit-border-radius: 15px;
            border-radius: 15px; }
    .home-slick-box_next {
      color: #9d9acc;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.56px;
      margin-right: 10px;
      position: relative; }
      .home-slick-box_next::before {
        content: url("../img/right-btn.png");
        position: absolute;
        right: -20px;
        top: 1px; }
    .home-slick-box_prev {
      color: #9d9acc;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.56px;
      margin-left: 10px;
      position: relative; }
      .home-slick-box_prev::before {
        content: url("../img/left-btn.png");
        position: absolute;
        left: -20px;
        top: 1px; }
  .home-box {
    width: 100%;
    height: auto;
    background-color: #242333;
    -webkit-box-shadow: 0 22px 40px rgba(36, 35, 51, 0.45);
            box-shadow: 0 22px 40px rgba(36, 35, 51, 0.45);
    -webkit-border-radius: 15px;
            border-radius: 15px;
    padding: 25px;
    margin-bottom: 20px; }
    .home-box-img {
      padding-bottom: 25px; }
    .home-box-title {
      color: #ffffff;
      font-size: 22px;
      font-weight: 500;
      letter-spacing: 0.88px;
      padding-bottom: 21px; }
    .home-box-subtitle {
      opacity: 0.5;
      color: #9d9acc;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.64px;
      padding-bottom: 31px; }
    .home-box-dsc {
      color: #9d9acc;
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 0.64px;
      margin-bottom: 50px; }
    .home-box-footer {
      border-top: 2px solid #323145;
      margin-left: -25px;
      margin-right: -25px;
      padding: 25px 25px 0 25px; }
      .home-box-footer_like p {
        padding-left: 10px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0.64px; }
      .home-box-footer_views img {
        padding-left: 35px; }
      .home-box-footer_views p {
        padding-left: 10px;
        color: #9d9acc;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0.64px; }
  .home-news-title {
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.72px; }
  .home-news-img {
    margin-bottom: 45px; }
    .home-news-img img {
      width: 100%; }
  .home-news-text {
    -webkit-border-radius: 0 0 10px 10px;
            border-radius: 0 0 10px 10px;
    background-color: rgba(36, 35, 51, 0.9);
    width: 100%;
    bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 25px; }
    .home-news-text h3 {
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.72px; }
    .home-news-text p {
      color: #9d9acc;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.56px; }
  .home-comments {
    width: 100%;
    height: auto;
    background-color: #242333;
    -webkit-box-shadow: 0 22px 40px rgba(36, 35, 51, 0.45);
            box-shadow: 0 22px 40px rgba(36, 35, 51, 0.45);
    -webkit-border-radius: 15px;
            border-radius: 15px;
    padding: 25px;
    padding-top: 0;
    margin-bottom: 20px; }
    .home-comments-header {
      border-bottom: 2px solid #323145;
      margin-left: -25px;
      margin-right: -25px; }
      .home-comments-header_ul {
        margin-bottom: -2px; }
      .home-comments-header_icon {
        padding-right: 20px; }
      .home-comments-header_text {
        color: #9d9acc;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.72px; }
      .home-comments-header_number {
        font-size: 18px;
        padding-left: 5px;
        color: #ffffff;
        font-weight: 300;
        letter-spacing: 0.72px; }
      .home-comments-header_li a {
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        padding: 30px 25px 27.5px 25px;
        -webkit-transition-duration: .3s;
             -o-transition-duration: .3s;
                transition-duration: .3s;
        text-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        border-bottom: 3px solid transparent; }
        .home-comments-header_li a:hover {
          text-decoration: none;
          border-bottom: 3px solid;
          border-image-source: linear-gradient(to right, #d94fc7 0%, #ff905a 100%);
          border-image-slice: 1;
          background: rgba(255, 223, 237, 0.1); }
        .home-comments-header_li a.active {
          border-bottom: 3px solid;
          border-image-source: linear-gradient(to right, #d94fc7 0%, #ff905a 100%);
          border-image-slice: 1;
          background: rgba(255, 223, 237, 0.1); }
    .home-comments-input {
      margin-top: 20px;
      margin-bottom: 30px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      background-color: rgba(157, 154, 204, 0.1); }
      .home-comments-input_style {
        padding: 25px 0px 25px 25px;
        color: #9d9acc;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.64px; }
    .home-comments-people_box {
      border-bottom: 2px solid #323145;
      margin-bottom: 20px; }
    .home-comments-people_img {
      max-width: 60px;
      width: 100%;
      max-height: 60px; }
    .home-comments-people_text {
      max-width: 650px;
      margin-left: 20px; }
    .home-comments-people_name p {
      color: #9d9acc;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.72px; }
      .home-comments-people_name p span {
        color: #9d9acc;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.64px;
        opacity: 0.4;
        margin-left: 13px; }
    .home-comments-people_dsc {
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.56px;
      margin-top: 25px;
      margin-bottom: 25px; }
  .home-mobile-slider {
    margin-bottom: 20px;
    padding: 25px;
    background-color: #242333;
    -webkit-box-shadow: 0 22px 40px rgba(36, 35, 51, 0.45);
            box-shadow: 0 22px 40px rgba(36, 35, 51, 0.45);
    -webkit-border-radius: 15px;
            border-radius: 15px; }
    .home-mobile-slider_next {
      color: #9d9acc;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.56px;
      margin-right: 10px;
      position: relative; }
      .home-mobile-slider_next::before {
        content: url("../img/right-btn.png");
        position: absolute;
        right: -20px;
        top: 1px; }
    .home-mobile-slider_prev {
      color: #9d9acc;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.56px;
      margin-left: 10px;
      position: relative; }
      .home-mobile-slider_prev::before {
        content: url("../img/left-btn.png");
        position: absolute;
        left: -20px;
        top: 1px; }

.header {
  background-color: #242333;
  padding: 15px 0 !important; }
  .header-mmenu {
    color: white !important; }
    .header-mmenu-text {
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.72px; }
  .header-dropdown-cup {
    border: 1px solid #9d9acc;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background-color: #242333;
    margin-top: 13px !important;
    position: absolute;
    left: 20px !important;
    top: 40px !important; }
    .header-dropdown-cup_title {
      color: white;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0.56px;
      margin-bottom: 15px;
      text-transform: uppercase; }
    .header-dropdown-cup_subtitle {
      color: #9d9acc;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.56px;
      margin-bottom: 15px; }
  .header-dropdown-bell {
    border: 1px solid #9d9acc;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background-color: #242333;
    margin-top: 13px !important;
    position: absolute;
    left: 0px !important;
    top: 45px !important; }
    .header-dropdown-bell_title {
      color: white;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0.56px;
      margin-bottom: 15px;
      text-transform: uppercase; }
    .header-dropdown-bell_subtitle {
      color: #9d9acc;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.56px;
      margin-bottom: 15px; }
  .header-dropdown-profile {
    border: 1px solid #9d9acc;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background-color: #242333;
    margin-top: 13px !important;
    position: absolute;
    left: -130px !important;
    top: 50px !important; }
    .header-dropdown-profile_item {
      color: white;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0.56px;
      margin-bottom: 15px;
      text-transform: uppercase; }
  .header-ul {
    padding: 0 20px; }
  .header-li a {
    padding: 30px 25px 30.5px 25px;
    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.13px;
    border-bottom: 3px solid transparent; }
    .header-li a:hover {
      text-decoration: none;
      border-bottom: 3px solid;
      border-image-source: linear-gradient(to right, #d94fc7 0%, #ff905a 100%);
      border-image-slice: 1;
      background: rgba(255, 223, 237, 0.1); }
    .header-li a.active {
      text-decoration: none;
      border-bottom: 3px solid;
      border-image-source: linear-gradient(to right, #d94fc7 0%, #ff905a 100%);
      border-image-slice: 1;
      background: rgba(255, 223, 237, 0.1); }
  .header-btn {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.13px;
    padding: 10px 30px;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    border: 2px solid #212236;
    background-color: #6f6d99;
    background-image: -webkit-gradient(linear, left top, right top, from(#242333), to(#3c3b53));
    background-image: -webkit-linear-gradient(left, #242333 0%, #3c3b53 100%);
    background-image: -o-linear-gradient(left, #242333 0%, #3c3b53 100%);
    background-image: linear-gradient(to right, #242333 0%, #3c3b53 100%);
    margin: 15px 0 !important;
    z-index: 1;
    position: absolute;
    top: -12.5px;
    left: 3px;
    -webkit-transition-duration: .5s;
         -o-transition-duration: .5s;
            transition-duration: .5s; }
    .header-btn:hover {
      background-image: -webkit-gradient(linear, left top, right top, from(#d94fc7), to(#ff905a));
      background-image: -webkit-linear-gradient(left, #d94fc7 0%, #ff905a 100%);
      background-image: -o-linear-gradient(left, #d94fc7 0%, #ff905a 100%);
      background-image: linear-gradient(to right, #d94fc7 0%, #ff905a 100%); }
    .header-btn-overlay {
      -webkit-border-radius: 30px;
              border-radius: 30px;
      padding: 23px 51px;
      -webkit-transition-duration: .3s;
           -o-transition-duration: .3s;
              transition-duration: .3s;
      background-image: -webkit-gradient(linear, left top, right top, from(#9d9acc), to(#6f6d99));
      background-image: -webkit-linear-gradient(left, #9d9acc 0%, #6f6d99 100%);
      background-image: -o-linear-gradient(left, #9d9acc 0%, #6f6d99 100%);
      background-image: linear-gradient(to right, #9d9acc 0%, #6f6d99 100%); }
  .header-gem {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #cecbff;
    font-size: 14px;
    font-weight: 400;
    padding: 9px 20px 9px 38px;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    border: 2px solid #212236;
    background-color: #352d46;
    background-image: url("../img/gem-bg.png");
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 15px 0 !important;
    z-index: 1;
    position: absolute;
    top: -13.5px;
    left: 2.5px;
    -webkit-transition-duration: .5s;
         -o-transition-duration: .5s;
            transition-duration: .5s; }
    .header-gem::before {
      content: url("../img/gem.png");
      position: absolute;
      left: -5px;
      top: 0px; }
    .header-gem-overlay {
      -webkit-border-radius: 30px;
              border-radius: 30px;
      padding: 21px 45px;
      -webkit-transition-duration: .3s;
           -o-transition-duration: .3s;
              transition-duration: .3s;
      background-image: -webkit-gradient(linear, left top, right top, from(#d94fc7), to(#6d30c8));
      background-image: -webkit-linear-gradient(left, #d94fc7 0%, #6d30c8 100%);
      background-image: -o-linear-gradient(left, #d94fc7 0%, #6d30c8 100%);
      background-image: linear-gradient(to right, #d94fc7 0%, #6d30c8 100%); }
  .header-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header-item-img {
      width: 100%;
      max-width: 35px;
      height: 35px;
      margin-right: 20px;
      margin-top: 10px; }
    .header-item-cup {
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
              box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
      background-color: #282739;
      background-image: -webkit-linear-gradient(45deg, #d94fc7 0%, #6d30c8 100%);
      background-image: -o-linear-gradient(45deg, #d94fc7 0%, #6d30c8 100%);
      background-image: linear-gradient(45deg, #d94fc7 0%, #6d30c8 100%);
      border: 5px solid #2f2742;
      max-width: 20px;
      min-width: 10px !important;
      width: 100%;
      max-height: 20px;
      height: 100%;
      left: 21px;
      bottom: 21px; }
    .header-item-bell {
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
              box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
      background-color: #282739;
      background-image: -webkit-linear-gradient(45deg, #57b9c9 0%, #3deb6e 100%);
      background-image: -o-linear-gradient(45deg, #57b9c9 0%, #3deb6e 100%);
      background-image: linear-gradient(45deg, #57b9c9 0%, #3deb6e 100%);
      border: 5px solid #2f2742;
      max-width: 20px;
      min-width: 10px !important;
      width: 100%;
      max-height: 20px;
      height: 100%;
      left: 18px;
      bottom: 21px; }
    .header-item-ellipse {
      max-width: 75px;
      width: 100%;
      height: 75px;
      max-height: 100%; }
  .header-link-profile {
    margin-left: 15px;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    background-color: #100621;
    background-image: -webkit-gradient(linear, left top, right top, from(#242333), to(#3c3b53));
    background-image: -webkit-linear-gradient(left, #242333 0%, #3c3b53 100%);
    background-image: -o-linear-gradient(left, #242333 0%, #3c3b53 100%);
    background-image: linear-gradient(to right, #242333 0%, #3c3b53 100%);
    padding: 25px;
    border: 2px solid #212236;
    -webkit-box-shadow: 0 0 0 2px #716f9b;
            box-shadow: 0 0 0 2px #716f9b; }
  .header-link-badge {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    background-color: #292839;
    background-image: -webkit-gradient(linear, left top, right top, from(#d94fc7), to(#ff905a));
    background-image: -webkit-linear-gradient(left, #d94fc7 0%, #ff905a 100%);
    background-image: -o-linear-gradient(left, #d94fc7 0%, #ff905a 100%);
    background-image: linear-gradient(to right, #d94fc7 0%, #ff905a 100%);
    border: 5px solid #2f2742;
    max-width: 20px;
    min-width: 10px !important;
    width: 100%;
    max-height: 20px;
    height: 100%;
    bottom: -6px;
    right: -6px; }
    .header-link-badge::before {
      content: '';
      position: absolute;
      -webkit-border-radius: 50px;
              border-radius: 50px;
      background-color: #292839;
      max-width: 5px;
      height: 5px;
      width: 100%; }

.mobile-menu__closer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 25px;
  color: white; }

.mm-menu {
  background-color: white; }

.mm-panel {
  background-color: #242333; }

.mm-navbar {
  background-color: #242333; }

.mm-listitem {
  background-color: #242333; }
  .mm-listitem__text {
    color: white !important;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.72px; }
