.header
  background-color: #242333
  padding: 15px 0 !important

  &-mmenu
    color: white !important

    &-text
      color: #ffffff
      font-size: 18px
      font-weight: 400
      letter-spacing: 0.72px


  &-dropdown

    &-cup
      border: 1px solid #9d9acc
      border-radius: 5px
      background-color: #242333
      margin-top: 13px !important
      position: absolute
      left: 20px !important
      top: 40px !important

      &_title
        color: white
        font-size: 14px
        font-weight: bold
        letter-spacing: 0.56px
        margin-bottom: 15px
        text-transform: uppercase

      &_subtitle
        color: #9d9acc
        font-size: 14px
        font-weight: 400
        letter-spacing: 0.56px
        margin-bottom: 15px

    &-bell
      border: 1px solid #9d9acc
      border-radius: 5px
      background-color: #242333
      margin-top: 13px !important
      position: absolute
      left: 0px !important
      top: 45px !important

      &_title
        color: white
        font-size: 14px
        font-weight: bold
        letter-spacing: 0.56px
        margin-bottom: 15px
        text-transform: uppercase

      &_subtitle
        color: #9d9acc
        font-size: 14px
        font-weight: 400
        letter-spacing: 0.56px
        margin-bottom: 15px

    &-profile
      border: 1px solid #9d9acc
      border-radius: 5px
      background-color: #242333
      margin-top: 13px !important
      position: absolute
      left: -130px !important
      top: 50px !important

      &_item
        color: white
        font-size: 14px
        font-weight: bold
        letter-spacing: 0.56px
        margin-bottom: 15px
        text-transform: uppercase


  &-ul
    padding: 0 20px

  &-li

    & a
      padding: 30px 25px 30.5px 25px
      transition-duration: .3s
      text-shadow: 0 5px 10px rgba(0, 0, 0, 0.1)
      color: #ffffff
      font-size: 14px
      font-weight: 400
      letter-spacing: 1.13px
      border-bottom: 3px solid transparent

      &:hover
        text-decoration: none
        border-bottom: 3px solid
        border-image-source: linear-gradient(to right, #d94fc7 0%, #ff905a 100%)
        border-image-slice: 1
        background: rgba(255,223,237, 0.1)

      &.active
        text-decoration: none
        border-bottom: 3px solid
        border-image-source: linear-gradient(to right, #d94fc7 0%, #ff905a 100%)
        border-image-slice: 1
        background: rgba(255,223,237, 0.1)

  &-btn
    color: #ffffff
    font-size: 14px
    font-weight: 400
    letter-spacing: 1.13px
    padding: 10px 30px
    border-radius: 30px
    border: 2px solid #212236
    background-color: #6f6d99
    background-image: linear-gradient(to right, #242333 0%, #3c3b53 100%)
    margin: 15px 0 !important
    z-index: 1
    position: absolute
    top: -12.5px
    left: 3px
    transition-duration: .5s

    &:hover
      background-image: linear-gradient(to right, #d94fc7 0%, #ff905a 100%)

    &-overlay
      border-radius: 30px
      padding: 23px 51px
      transition-duration: .3s
      background-image: linear-gradient(to right, #9d9acc 0%, #6f6d99 100%)

  &-gem
    display: flex
    align-items: center
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.1)
    color: #cecbff
    font-size: 14px
    font-weight: 400
    padding: 9px 20px 9px 38px
    border-radius: 30px
    border: 2px solid #212236
    background-color: #352d46
    background-image: url("../img/gem-bg.png")
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    margin: 15px 0 !important
    z-index: 1
    position: absolute
    top: -13.5px
    left: 2.5px
    transition-duration: .5s

    &::before
      content: url("../img/gem.png")
      position: absolute
      left: -5px
      top: 0px

    &-overlay
      border-radius: 30px
      padding: 21px 45px
      transition-duration: .3s
      background-image: linear-gradient(to right, #d94fc7 0%, #6d30c8 100%)





  &-item
    display: flex
    align-items: center

    &-img
      width: 100%
      max-width: 35px
      height: 35px
      margin-right: 20px
      margin-top: 10px

    &-cup
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25)
      background-color: #282739
      background-image: linear-gradient(45deg, #d94fc7 0%, #6d30c8 100%)
      border: 5px solid #2f2742
      max-width: 20px
      min-width: 10px !important
      width: 100%
      max-height: 20px
      height: 100%
      left: 21px
      bottom: 21px

    &-bell
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25)
      background-color: #282739
      background-image: linear-gradient(45deg, #57b9c9 0%, #3deb6e 100%)
      border: 5px solid #2f2742
      max-width: 20px
      min-width: 10px !important
      width: 100%
      max-height: 20px
      height: 100%
      left: 18px
      bottom: 21px

    &-ellipse
      max-width: 75px
      width: 100%
      height: 75px
      max-height: 100%

  &-link

    &-profile
      margin-left: 15px
      border-radius: 50px
      background-color: #100621
      background-image: linear-gradient(to right, #242333 0%, #3c3b53 100%)
      padding: 25px
      border: 2px solid #212236
      box-shadow: 0 0 0 2px #716f9b

    &-badge
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25)
      background-color: #292839
      background-image: linear-gradient(to right, #d94fc7 0%, #ff905a 100%)
      border: 5px solid #2f2742
      max-width: 20px
      min-width: 10px !important
      width: 100%
      max-height: 20px
      height: 100%
      bottom: -6px
      right: -6px

      &::before
        content: ''
        position: absolute
        border-radius: 50px
        background-color: #292839
        max-width: 5px
        height: 5px
        width: 100%

.mobile-menu__closer
  display: flex
  justify-content: flex-end
  padding-right: 25px
  color: white

.mm

  &-menu
    background-color: white

  &-panel
    background-color: #242333

  &-navbar
    background-color: #242333

  &-listitem
    background-color: #242333

    &__text
      color: white !important
      font-size: 18px
      font-weight: 400
      letter-spacing: 0.72px






