header.header.uk-section-xsmall.uk-padding-remove
    .uk-container
        .uk-grid-small.uk-flex-middle.uk-flex(uk-grid)
            .uk-width-expand.uk-flex-center.uk-flex.uk-flex-middle(class='uk-visible@m')
                ul.header-ul.uk-flex
                    li.header-li
                        a(href="#").active Home
                    li.header-li
                        a(href="#") Marketplace
                    li.header-li
                        a(href="#") Booster Packs
                .header-btn-wrap.uk-position-relative
                    .header-btn-overlay
                    button.header-btn Play
            a.uk-navbar-toggle.header-mmenu(href='#' class='uk-hidden@m' id='mmenu-icon')
                span.heade-mmenu-icon(uk-navbar-toggle-icon='')
                span.uk-margin-small-left.heade-mmenu-text Menu
            .uk-width-auto.uk-margin-auto-left
                div.uk-flex.uk-flex-middle
                    div.header-item.uk-position-relative
                        a(href='#' type='button').header-link-cup.uk-position-relative
                            img.header-item-img(src="../img/cup.png")
                            span.uk-badge.header-item-cup.uk-position-absolute
                        div.header-dropdown-cup(uk-dropdown='mode: click')
                            .header-dropdown-cup_title
                                p Achievements:
                            .header-dropdown-cup_subtitle
                                p - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            .header-dropdown-cup_subtitle
                                p - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    div.header-item.uk-position-relative
                        a(href='#').header-link-bell.uk-position-relative
                            img.header-item-img(src="../img/bell.png")
                            span.uk-badge.header-item-bell.uk-position-absolute
                        div.header-dropdown-bell(uk-dropdown='mode: click')
                            .header-dropdown-bell_title
                                p Notifications:
                            .header-dropdown-bell_subtitle
                                p - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            .header-dropdown-bell_subtitle
                                p - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    div.header-item
                        .header-gem-wrap.uk-position-relative
                            .header-gem-overlay
                            button.header-gem 142
                    div.header-item.uk-position-relative
                        a(href='#').header-link-profile.uk-position-relative
                            span.uk-badge.header-link-badge.uk-position-absolute
                        div.header-dropdown-profile(uk-dropdown='mode: click')
                            .header-dropdown-profile_item
                                p Settings
                            .header-dropdown-profile_item
                                p Profile
                            .header-dropdown-profile_item
                                p History games
                            .header-dropdown-profile_item
                                p Log out



        

