doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="assets/img/favicon.ico", rel="shortcut icon")
    link(rel="stylesheet",type="text/css", href="css/libs.min.css")
    link(rel="stylesheet",type="text/css", href="css/main.css")
    link(rel="stylesheet",type="text/css", href="fonts/stylesheet.css")
    link(href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous")
    title Adel
  body
    nav#menu
      ul
        li
          a(href='#') Home
        li
          a(href='#') Marketplace
        li
          a(href='#') Booster Pack
        li
          a(href='#').uk-flex-middle(uk-grid)
            .uk-width-auto
                .header-btn-wrap.uk-position-relative.uk-flex.uk-flex-center
                    .header-btn-overlay
                    button.header-btn Play
    #contentWrapper.content-wrapper
      #pageWrapper.page-wrapper
        include _header
        block content

      #footerWrapper.footer-wrapper
        include _footer
    script(src="js/libs.min.js")
    script(src="js/common.js")