extends blocks/_layout

append content
    .uk-section-xsmall.home
        .uk-container
            .uk-grid-small(uk-grid)
                div(class='uk-width-expand@m uk-width-1-1@s')
                    .home-link
                        a(href="#").uk-flex.uk-flex-middle
                            img(src='../img/left-btn.png')
                            | Back
                    .home-slick-box.uk-flex.uk-flex-between
                    .home-slider
                        div.home-box
                            .home-box-img
                                img(src="../img/man.png")
                            .home-box-title
                                p The International 2018 Collector’
                            .home-box-subtitle
                                p July 24, 2018
                            .home-box-dsc
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages
                                <br>
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            .home-box-footer.uk-flex-middle.uk-flex-wrap(uk-grid)
                                .uk-width-auto
                                    .home-box-footer_like.uk-flex.uk-flex-middle
                                        a(href="#")
                                            img(src='../img/like.png')
                                        p 365
                                .uk-width-expand
                                    .home-box-footer_views.uk-flex.uk-flex-middle.uk-flex
                                        img(src='../img/eye.png')
                                        p 7649
                                .uk-width-1-1(class="uk-width-auto@s")
                                    .home-box-footer_social.uk-flex-middle.uk-flex-left.uk-grid-medium(uk-grid)
                                        a(href='#').uk-flex-none
                                            img(src='../img/link.png')
                                        a(href='#').uk-flex-none
                                            img(src='../img/facebook.png')
                                        a(href='#').uk-flex-none
                                            img(src='../img/twitter.png')
                        div.home-box
                            .home-box-img
                                img(src="../img/man.png")
                            .home-box-title
                                p The International 2018 Collector’
                            .home-box-subtitle
                                p July 24, 2018
                            .home-box-dsc
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages
                                <br>
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            .home-box-footer.uk-flex-middle.uk-flex-wrap(uk-grid)
                                .uk-width-auto
                                    .home-box-footer_like.uk-flex.uk-flex-middle
                                        a(href="#")
                                            img(src='../img/like.png')
                                        p 365
                                .uk-width-expand
                                    .home-box-footer_views.uk-flex.uk-flex-middle.uk-flex
                                        img(src='../img/eye.png')
                                        p 7649
                                .uk-width-1-1(class="uk-width-auto@s")
                                    .home-box-footer_social.uk-flex-middle.uk-flex-left.uk-grid-medium(uk-grid)
                                        a(href='#').uk-flex-none
                                            img(src='../img/link.png')
                                        a(href='#').uk-flex-none
                                            img(src='../img/facebook.png')
                                        a(href='#').uk-flex-none
                                            img(src='../img/twitter.png')
                        div.home-box
                            .home-box-img
                                img(src="../img/man.png")
                            .home-box-title
                                p The International 2018 Collector’
                            .home-box-subtitle
                                p July 24, 2018
                            .home-box-dsc
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages
                                <br>
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            .home-box-footer.uk-flex-middle.uk-flex-wrap(uk-grid)
                                .uk-width-auto
                                    .home-box-footer_like.uk-flex.uk-flex-middle
                                        a(href="#")
                                            img(src='../img/like.png')
                                        p 365
                                .uk-width-expand
                                    .home-box-footer_views.uk-flex.uk-flex-middle.uk-flex
                                        img(src='../img/eye.png')
                                        p 7649
                                .uk-width-1-1(class="uk-width-auto@s")
                                    .home-box-footer_social.uk-flex-middle.uk-flex-left.uk-grid-medium(uk-grid)
                                        a(href='#').uk-flex-none
                                            img(src='../img/link.png')
                                        a(href='#').uk-flex-none
                                            img(src='../img/facebook.png')
                                        a(href='#').uk-flex-none
                                            img(src='../img/twitter.png')
                    .home-comments
                        .home-comments-header.uk-flex.uk-flex-between.uk-flex-middle(uk-grid)
                            .home-comments-header_left.uk-flex.uk-flex-middle(class='uk-width-1-1 uk-width-expand@s')
                                .home-comments-header_icon
                                    img(src='../img/comments.png')
                                .home-comments-header_text
                                    p Comments:
                                .home-comments-header_number
                                    p 48
                            .home-comments-header_right.uk-width-auto
                                ul.uk-flex.home-comments-header_ul
                                    li.home-comments-header_li.uk-flex
                                        a(href='#').active Popular
                                    li.home-comments-header_li.uk-flex
                                        a(href='#') Recent
                        form.home-comments-input
                            input(class="home-comments-input_style" type="text" placeholder="Type comment here...")
                        .home-comments-people
                            .home-comments-people_box.uk-flex
                                .home-comments-people_img
                                    img(src='../img/profile.png')
                                .home-comments-people_text
                                    .home-comments-people_name
                                        p Svetlakov
                                            span 22 May
                                    .home-comments-people_dsc
                                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.
                            .home-comments-people_box.uk-flex
                                .home-comments-people_img
                                    img(src='../img/profile.png')
                                .home-comments-people_text
                                    .home-comments-people_name
                                        p Svetlakov
                                            span 22 May
                                    .home-comments-people_dsc
                                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.
                div(class='uk-width-1-3@m uk-width-1-1@s')
                    .home-news-title
                        p Related News
                    .home-mobile-slider.uk-flex.uk-flex-between(class='uk-hidden@m')
                    .home-news-slider(id='my-slider')
                        div
                            .home-news-img.uk-position-relative
                                img(src='../img/twich.png' alt='#')
                                .home-news-text.uk-position-absolute
                                    h3 Welcome to Nethernite
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        div
                            .home-news-img.uk-position-relative
                                img(src='../img/twich.png' alt='#')
                                .home-news-text.uk-position-absolute
                                    h3 Welcome to Nethernite
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        div
                            .home-news-img.uk-position-relative
                                img(src='../img/twich.png' alt='#')
                                .home-news-text.uk-position-absolute
                                    h3 Welcome to Nethernite
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
