@font-face {
    font-family: 'Geomanist';
    src: url('Geomanist-Thin.woff2') format('woff2'),
        url('Geomanist-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist';
    src: url('Geomanist-Italic.woff2') format('woff2'),
        url('Geomanist-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Geomanist';
    src: url('Geomanist-Black.woff2') format('woff2'),
        url('Geomanist-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist';
    src: url('Geomanist-Book.woff2') format('woff2'),
        url('Geomanist-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist';
    src: url('Geomanist-MediumItalic.woff2') format('woff2'),
        url('Geomanist-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Geomanist';
    src: url('Geomanist-BoldItalic.woff2') format('woff2'),
        url('Geomanist-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Geomanist';
    src: url('Geomanist-Bold.woff2') format('woff2'),
        url('Geomanist-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist';
    src: url('Geomanist-Ultra.woff2') format('woff2'),
        url('Geomanist-Ultra.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist';
    src: url('Geomanist-Light.woff2') format('woff2'),
        url('Geomanist-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist';
    src: url('Geomanist-ThinItalic.woff2') format('woff2'),
        url('Geomanist-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Geomanist';
    src: url('Geomanist-UltraItalic.woff2') format('woff2'),
        url('Geomanist-UltraItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Geomanist';
    src: url('Geomanist-LightItalic.woff2') format('woff2'),
        url('Geomanist-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Geomanist';
    src: url('Geomanist-BookItalic.woff2') format('woff2'),
        url('Geomanist-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Geomanist';
    src: url('Geomanist.woff2') format('woff2'),
        url('Geomanist.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist';
    src: url('Geomanist-Medium.woff2') format('woff2'),
        url('Geomanist-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist';
    src: url('Geomanist-ExtraLight.woff2') format('woff2'),
        url('Geomanist-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist';
    src: url('Geomanist-BlackItalic.woff2') format('woff2'),
        url('Geomanist-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Geomanist';
    src: url('Geomanist-ExtraLightItalic.woff2') format('woff2'),
        url('Geomanist-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

