.home
  background-image: linear-gradient(to right, rgba(36, 35, 51, 0.2) 0%, rgba(60, 59, 83, 0.2) 100%), url('../img/bg.png')
  background-repeat: no-repeat
  background-position: top
  background-size: contain
  box-shadow: 0 16px 65px rgba(36, 35, 51, 0.48)
  background-color: #242333

  &-link
    margin-bottom: 30px

    & img
      margin-right: 15px

    & a
      color: #ffffff
      font-size: 18px
      font-weight: 400
      letter-spacing: 0.72px

      &:hover
        text-decoration: none
        color: #ffffff

  &-slick-box
    margin-bottom: 20px
    padding: 25px
    background-color: #242333
    box-shadow: 0 22px 40px rgba(36, 35, 51, 0.45)
    border-radius: 15px

    &_next
      color: #9d9acc
      font-size: 14px
      font-weight: 400
      letter-spacing: 0.56px
      margin-right: 10px
      position: relative

      &::before
        content: url("../img/right-btn.png")
        position: absolute
        right: -20px
        top: 1px

    &_prev
      color: #9d9acc
      font-size: 14px
      font-weight: 400
      letter-spacing: 0.56px
      margin-left: 10px
      position: relative

      &::before
        content: url("../img/left-btn.png")
        position: absolute
        left: -20px
        top: 1px



  &-box
    width: 100%
    height: auto
    background-color: #242333
    box-shadow: 0 22px 40px rgba(36, 35, 51, 0.45)
    border-radius: 15px
    padding: 25px
    margin-bottom: 20px

    &-img
      padding-bottom: 25px

    &-title
      color: #ffffff
      font-size: 22px
      font-weight: 500
      letter-spacing: 0.88px
      padding-bottom: 21px

    &-subtitle
      opacity: 0.5
      color: #9d9acc
      font-size: 16px
      font-weight: 400
      letter-spacing: 0.64px
      padding-bottom: 31px

    &-dsc
      color: #9d9acc
      font-size: 16px
      font-weight: 400
      line-height: 25px
      letter-spacing: 0.64px
      margin-bottom: 50px

    &-footer
      border-top: 2px solid #323145
      margin-left: -25px
      margin-right: -25px
      padding: 25px 25px 0 25px

      &_like

        & p
          padding-left: 10px
          color: #ffffff
          font-size: 16px
          font-weight: 400
          line-height: 25px
          letter-spacing: 0.64px

      &_views

        & img
          padding-left: 35px

        & p
          padding-left: 10px
          color: #9d9acc
          font-size: 16px
          font-weight: 400
          line-height: 25px
          letter-spacing: 0.64px

  &-news

    &-title
      margin-bottom: 30px
      color: #ffffff
      font-size: 18px
      font-weight: 400
      letter-spacing: 0.72px

    &-img
      margin-bottom: 45px

      & img
        width: 100%

    &-text
      border-radius: 0 0 10px 10px
      background-color: rgba(36, 35, 51,0.9)
      width: 100%
      bottom: 0
      display: -webkit-box
      -webkit-line-clamp: 2
      -webkit-box-orient: vertical
      overflow: hidden
      padding: 25px

      & h3
        color: #ffffff
        font-size: 18px
        font-weight: 400
        letter-spacing: 0.72px

      & p
        color: #9d9acc
        font-size: 14px
        font-weight: 400
        letter-spacing: 0.56px

  &-comments
    width: 100%
    height: auto
    background-color: #242333
    box-shadow: 0 22px 40px rgba(36, 35, 51, 0.45)
    border-radius: 15px
    padding: 25px
    padding-top: 0
    margin-bottom: 20px

    &-header
      border-bottom: 2px solid #323145
      margin-left: -25px
      margin-right: -25px

      &_ul
        margin-bottom: -2px

      &_icon
        padding-right: 20px

      &_text
        color: #9d9acc
        font-size: 18px
        font-weight: 400
        letter-spacing: 0.72px

      &_number
        font-size: 18px
        padding-left: 5px
        color: #ffffff
        font-weight: 300
        letter-spacing: 0.72px

      &_li

        & a
          color: #ffffff
          font-size: 16px
          font-weight: 400
          padding: 30px 25px 27.5px 25px
          transition-duration: .3s
          text-shadow: 0 5px 10px rgba(0, 0, 0, 0.1)
          border-bottom: 3px solid transparent

          &:hover
            text-decoration: none
            border-bottom: 3px solid
            border-image-source: linear-gradient(to right, #d94fc7 0%, #ff905a 100%)
            border-image-slice: 1
            background: rgba(255,223,237, 0.1)

          &.active
            border-bottom: 3px solid
            border-image-source: linear-gradient(to right, #d94fc7 0%, #ff905a 100%)
            border-image-slice: 1
            background: rgba(255,223,237, 0.1)


    &-input
      margin-top: 20px
      margin-bottom: 30px
      border-radius: 5px
      background-color: rgba(157, 154, 204, 0.1)

      &_style
        padding: 25px 0px 25px 25px
        color: #9d9acc
        font-size: 16px
        font-weight: 400
        letter-spacing: 0.64px

    &-people

      &_box
        border-bottom: 2px solid #323145
        margin-bottom: 20px

      &_img
        max-width: 60px
        width: 100%
        max-height: 60px

      &_text
        max-width: 650px
        margin-left: 20px

      &_name

        & p
          color: #9d9acc
          font-size: 18px
          font-weight: 400
          letter-spacing: 0.72px

          & span
            color: #9d9acc
            font-size: 16px
            font-weight: 400
            letter-spacing: 0.64px
            opacity: 0.4
            margin-left: 13px

      &_dsc
        color: #ffffff
        font-size: 14px
        font-weight: 400
        line-height: 24px
        letter-spacing: 0.56px
        margin-top: 25px
        margin-bottom: 25px

  &-mobile-slider
    margin-bottom: 20px
    padding: 25px
    background-color: #242333
    box-shadow: 0 22px 40px rgba(36, 35, 51, 0.45)
    border-radius: 15px

    &_next
      color: #9d9acc
      font-size: 14px
      font-weight: 400
      letter-spacing: 0.56px
      margin-right: 10px
      position: relative

      &::before
        content: url("../img/right-btn.png")
        position: absolute
        right: -20px
        top: 1px

    &_prev
      color: #9d9acc
      font-size: 14px
      font-weight: 400
      letter-spacing: 0.56px
      margin-left: 10px
      position: relative

      &::before
        content: url("../img/left-btn.png")
        position: absolute
        left: -20px
        top: 1px

